.back_message{
    background: rgba(0,27,45,0.6);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px auto;
    max-width: 410px;
    padding: 10px 10px;
    margin-top: 5%;
    margin-bottom: 6%;
}



.message_text{
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    padding-top: 15px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 15px;
    text-align: center;

}