
.services12{
  background-image: url("https://wallpaperaccess.com/full/656693.jpg");
  position:absolute;
  top:80px;
  left:0;
  bottom:0px;
  width:100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}


.founders{
  background-image: url('./images/green.PNG');
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
