/* body {
  background-image: url('green.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,

.profile,
.contact-us,
.energy_consumption,
.energy_consumption_per_district,
.energy_consumption_per_station,
.energy_demand_forecasts {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('./images/green.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}



.profile {
  background-image: url('./images/green.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-image: url('./images/green.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.chargingsessions {
  background-image: url('./images/img_2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.energy_consumption{
  background-image: url('./images/green.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.energy_consumption_per_district {
  background-image: url('./images/img_2.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.energy_consumption_per_station {
  background-image: url('./images/green.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.energy_demand_forecasts {
  background-image: url('./images/green.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
