* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home_own,
.services,
.profile,
.contact-us,
.consulting
{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

mark {
  background-color: rgba(0,0,255,0.5);
  color: white;
}

.home_own{
  background-image: url('./images/homeOwner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.services_own {
  background-image: url("https://wallpaperaccess.com/full/656693.jpg");
    position:absolute;
    top:80px;
    left:0;
    bottom:0px;
    width:100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: #fff;
    font-size: 100px;


}

.profile_own {
  background-image: url('https://blog.evsolutions.com/hs-fs/hubfs/EVS_Social_2020/Blog-The%20Top%205%20EV%20Trends%20for%202021.jpg?width=970&name=Blog-The%20Top%205%20EV%20Trends%20for%202021.jpg');
    position:absolute;
    padding: 4rem;
    top:80px;
    left:0;
    bottom:0px;
    width:100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    font-size: 14px;
}

.contact-us_own {
  background-image: url('https://wallpaperaccess.com/full/3124512.jpg');
    position:absolute;
    padding: 4rem;
    top:80px;
    left:0;
    bottom:0px;
    width:100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    font-size: 100px;
}

.chargingsessions {
  background-image: url('./images/img_2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.consulting {
  background-image: url('./images/green.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.chargeNow {
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;

}


.payment {
  background-image: url('./images/pay3.jpg');
  position:absolute;
  top:80px;
  left:0;
  bottom:0px;
  width:100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.synchronous_payment_final {
  background-image: url('./images/pay3.jpg');
  position:absolute;
  top:80px;
  left:0;
  bottom:0px;
  width:100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.synchronous_payment{
  background-image: url('./images/pay3.jpg');
  position:absolute;
  top:80px;
  left:0;
  bottom:0px;
  width:100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.payment_next {
  background-image: url('./images/pay3.jpg');
  position:absolute;
  top:80px;
  left:0;
  bottom:0px;
  width:100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}



.payment_final {
  background-image: url('./images/pay3.jpg');
  position:absolute;
  top:80px;
  left:0;
  bottom:0px;
  width:100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
